html,
body {
  width: 100%;
  min-width: 320px;
  font-size: 62.5%;
  position: relative; 
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  &.overflow{
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  font-family: var(--font);  
  color: var(--color-text);
  background-color: var(--color-body);

  &.disable-scroll {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}


a {
  text-decoration: none;
  color: var(--color-link);
}

b,
strong {
  font-weight: var(--font-bold);
}

img,
svg,
picture {
  max-width: 100%;
}

svg {
  display: inline;
}


[href^='tel:'],
[href^='mailto:'] {
  text-decoration: underline;
}
