<header id="header">
    <div class="header">
        <div class="header-container">
            <nav class="navbar">
                <a href="javascript:();" id="menuOpenToggle" class="navbar-menu">
                    <div class="menu-toggle">
                        <svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="5.14285" y1="1" x2="23.1429" y2="1" stroke="black" stroke-width="2"/>
                            <line y1="10" x2="28.2857" y2="10" stroke="black" stroke-width="2"/>
                            <line x1="5.14285" y1="19" x2="23.1429" y2="19" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                    <div class="menu-title">Menu</div>
                </a>
                <a href="home.html" class="brand-logo">
                    <img src="/img/logo/brand-logo.svg" alt="">
                </a>
                <div class="navbar-right-section">
                    <a href="javascript:();" class="search-button" id="searchButton">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.9148 13.92L17 17M16.0254 8.5C16.0254 10.4891 15.2338 12.3968 13.8249 13.8033C12.416 15.2098 10.5052 16 8.51268 16C6.52019 16 4.60931 15.2098 3.20041 13.8033C1.79151 12.3968 1 10.4891 1 8.5C1 6.51088 1.79151 4.60322 3.20041 3.1967C4.60931 1.79018 6.52019 1 8.51268 1C10.5052 1 12.416 1.79018 13.8249 3.1967C15.2338 4.60322 16.0254 6.51088 16.0254 8.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>    
                        <div class="search-box">
                            <input type="text" placeholder="Search">
                        </div>                        
                    </a>
                    <div class="language-button">
                        <span>TR</span>
                    </div>
                </div>
            </nav>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-box">
                <div class="close-toggle" id="menuCloseToggle">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.868 19.992C0.644 19.992 0.42 19.9041 0.252 19.7362C-0.084 19.4004 -0.084 18.8487 0.252 18.5049L18.516 0.251849C18.852 -0.0839496 19.404 -0.0839496 19.748 0.251849C20.084 0.587648 20.084 1.13932 19.748 1.48311L1.484 19.7362C1.316 19.9041 1.092 19.992 0.868 19.992Z" fill="black"/>
                        <path d="M19.124 19.992C18.9 19.992 18.676 19.9041 18.508 19.7362L0.252 1.49111C-0.084 1.15531 -0.084 0.603638 0.252 0.259845C0.588 -0.075954 1.14 -0.075954 1.484 0.259845L19.748 18.5129C20.084 18.8487 20.084 19.4004 19.748 19.7442C19.58 19.9121 19.356 20 19.132 20L19.124 19.992Z" fill="black"/>
                    </svg>
                    <span>Close</span>                        
                </div>
                <div class="sidebar-menu">
                    <ul class="sidebar-menu-ul">
                        <li class="menu-item">
                            <a href="#">CORPORATE</a>
                            <div class="arrow-icon">
                                <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L10.6154 10L2 18" stroke="black" stroke-opacity="0.7" stroke-width="2" stroke-linecap="square"/>
                                </svg>                                    
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="design.html">DESIGN</a>
                            <div class="arrow-icon">
                                <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L10.6154 10L2 18" stroke="black" stroke-opacity="0.7" stroke-width="2" stroke-linecap="square"/>
                                </svg>                                    
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="production.html">PRODUCTION</a>
                            <div class="arrow-icon">
                                <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L10.6154 10L2 18" stroke="black" stroke-opacity="0.7" stroke-width="2" stroke-linecap="square"/>
                                </svg>                                    
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="sustainability.html">SUSTAINABILITY</a>
                            <div class="arrow-icon">
                                <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L10.6154 10L2 18" stroke="black" stroke-opacity="0.7" stroke-width="2" stroke-linecap="square"/>
                                </svg>                                    
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="#">CAREER</a>
                            <div class="arrow-icon">
                                <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L10.6154 10L2 18" stroke="black" stroke-opacity="0.7" stroke-width="2" stroke-linecap="square"/>
                                </svg>                                    
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="contact.html">CONTACT</a>
                            <div class="arrow-icon">
                                <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L10.6154 10L2 18" stroke="black" stroke-opacity="0.7" stroke-width="2" stroke-linecap="square"/>
                                </svg>                                    
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
