{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div id="cookieModal" class="cookie-modal">
    <div class="cookie-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Çerez Politikası</h2>
      <p>
        Bu web sitesinde çerezler kullanılıyor! Detaylı bilgi için 
        <a href="#">Çerez Politikası</a> içeriğini okuyabilirsiniz.
      </p>
      <div class="cookie-buttons">
        <button class="accept-btn">Kabul et</button>
        <button class="reject-btn">Reddet</button>
      </div>
    </div>
</div>
<section class="section subpage-hero" id="error-hero">
    <div class="hero-section hero">
        <div class="hero-backg" style="background: url(/img/hero-backg/error-backg.png); background-position: center;
        background-size: cover;">
            <div class="text">
                <div class="header">
                    <h1 class="title">Hata: 404</h1>
                    <div class="opacity-title">
                        Aradığınız sayfa bulunamadı, silinmiş ya da adı değişmiş olabilir.
                    </div>
                </div>
                <a href="javascript:();" class="home-button">
                    Ana Sayfa
                </a>
          </div>
        </div>
    </div>
</section>

{% endblock %}

 