{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div id="cookieModal" class="cookie-modal">
    <div class="cookie-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Çerez Politikası</h2>
      <p>
        Bu web sitesinde çerezler kullanılıyor! Detaylı bilgi için 
        <a href="#">Çerez Politikası</a> içeriğini okuyabilirsiniz.
      </p>
      <div class="cookie-buttons">
        <button class="accept-btn">Kabul et</button>
        <button class="reject-btn">Reddet</button>
      </div>
    </div>
</div>
<section class="section subpage-hero" id="company-hero">
    <div class="hero-section hero">
        <div class="hero-backg">
            <video autoplay muted loop >
                <source src="/img/video/company-hero.mp4" type="video/mp4">
              </video>
            <div class="text">
                <div class="header">
                    <h1 class="title">Blending Tradition & Innovation, Knit to Perfection</h1>
                    <div class="opacity-title">
                        COMPANY
                    </div>
                    <div class="hero-info-text">
                        <div class="info-item">
                            <div class="header">
                                <div class="strong-text">30K</div>
                                <div class="light-text">pcs/day</div>
                            </div>
                            <div class="info-desc">Garment Capacity</div>
                        </div>
                        <div class="vertical-line"></div>
                        <div class="info-item">
                            <div class="header">
                                <div class="strong-text">800+</div>
                            </div>
                            <div class="info-desc">Employees</div>
                        </div>
                        <div class="vertical-line"></div>
                        <div class="info-item">
                            <div class="header">
                                <div class="strong-text">12K</div>
                                <div class="light-text">kg/day</div>
                            </div>
                            <div class="info-desc">Yarn Production</div>
                        </div>
                    </div>
                </div>
          </div>
        </div>
        <div class="bottom-arrow">
            <div class="icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 1L11 11.7692L1 1" stroke="white" stroke-linecap="square"/>
                </svg>                    
            </div>
        </div>
    </div>
</section>
<section class="section breadcrumb">
    <div class="container">
        <nav>
            <ol>
              <li class="breadcrumb-item">
                <a href="home.html">Home</a>
              </li>
              <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
              </span>
              <li class="breadcrumb-item active">
                <a href="#">Company</a>
              </li>
            </ol>
          </nav>
    </div>
</section>
<section class="section">
    <div class="design-block subpage-company" id="about-intem">
        <div class="container">
            <div class="design-card" style="height: 56.8rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">ABOUT INTEM</h1>
                    </div>
                    <div class="desc">Intem was 
                        <div class="strong">founded in 1993</div> as a family business in İstanbul, where a dedicated team set out to provide luxury customer experience through our services and pioneer within the knitwear production. 
                    </div>
                    <div class="desc">
                        For over 31 years, <div class="strong">design, quality and expertise of craftsmanship</div>remain at the heart of what we do, committed to sustainable practices.
                    </div>
                    <div class="desc">
                        Our corporate values, rich knowhow and innovative approach led us to become one of the leading knitwear manufacturer in the industry for the international high-street brands. 
                    </div>
                    <div class="desc">
                        We are <div class="strong">offering fully integrated production service from yarn to garment</div>, operating in 55.000 m2 total production area  located in İstanbul, Malatya and Düzce facilities where we meticulously oversee every step of the production processes to ensure high quality standards. 
                    </div>
                    <div class="desc">
                        With a legacy built on trust and excellence, delivering exceptional products that embody our passion for our business and customer satisfaction
                    </div>
                </div>
                <div class="img">
                    <img src="/img/card-img/company-card-1.png" width="515" height="568" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="design-block subpage-company" id="projectsInvestments">
        <div class="container">
            <div class="design-card" style="height: 39.6rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">PROJECTS & NEW INVESTMENTS</h1>
                    </div>
                    <div class="desc">
                        For over 31 years, as one of the leading knitwear company in Turkey, <div class="strong">innovation</div> has become one of our core codes that symbolizes our commitment <div class="strong">for constant improvement & change</div> within our business. This corporate approach leds us going further to create better solutions for our customers. We persistently invest in new technologies and projects to be always one step ahead. Today at <div class="strong">Intem</div> at many stages both in managerial systems and manufacturing processes, we have achieved a noticeable <div class="strong">digitalization</div>. We are currently working on 3 projects:
                    </div>
                </div>
                <div class="img">
                    <img src="/img/card-img/company-card.png" width="515" height="396" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="our-features">
        <div class="container">
            <div class="features-wrap" style="height: 14.4rem">
                <div class="feature-item">
                    <div class="header">
                        <div class="title">LIVING & TALKING FACTORIES</div>
                    </div>
                    <div class="content">
                        Thoughtful manufacturing and design processes for sustainable future
                        Real-Time data integration of transparency
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div class="feature-item">
                    <div class="header">
                        <div class="title">MES PRODUCTION SYSTEM
                            IMPLEMENTATION</div>
                    </div>
                    <div class="content">
                        Leveraging data through MES will make a great impact on providing valuable insights for the optimizations of our operations.
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div class="feature-item">
                    <div class="header">
                        <div class="title">AI ASSISTANT</div>
                    </div>
                    <div class="content">
                        Developing our AI assistant KNIT-o to provide real-time data access for all our internal departments, to enhance our reporting and information chain.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="design-block" id="phılosophy">
        <div class="container">
            <div class="design-card" style="height: 56.8rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">PHILOSOPHY</h1>
                    </div>
                    <div class="desc">
                        We believe true success is rooted in the power of collective growth. Putting effort do the best of our practices to become a little better constantly and executing with care&sincerity to create value for people and customers is the key to be ahead. Our journey is driven by the collaboration of our customers. Together, we create knitwear that reflects shared values.For us, true success is not just individual achievements, but about growing together to build a lasting legacy in the industry.
                    </div>
                    <div class="sub-content">
                        “Collective Growth Is The Universal Code For A Meaningful Success”
                    </div>
                    <div class="sub-header">
                        <div class="name">Tamer Tamtürk</div>
                        <div class="title">CEO</div>
                    </div>
                </div>
                <div class="img">
                    <img src="/img/card-img/PHILOSOPHY.png" width="515" height="568" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="our-features">
        <div class="container">
            <div class="features-wrap" style="height: 16.8rem;">
                <div class="feature-item" style="width: 100%;">
                    <div class="header">
                        <div class="title">MISSION</div>
                    </div>
                    <div class="content">
                        Producing worldwide best of knitwear in terms of quality, efficacy, design by providing innovative client services experiences
                    </div>
                </div>
                <div class="vertical-line" style="margin-right: 6rem;"></div>
                <div class="feature-item" style="width: 100%;">
                    <div class="header">
                        <div class="title">VISION</div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="showroom" id="ar-ge">
        <div class="showroom-card">
            <div class="card-img">
                <img src="/img/card-img/ar-ge.png" width="1340" height="541" alt="">
            </div>
            <div class="text-card">
                <div class="header">
                    <h1 class="title">RESEARCH & DEVELOPMENT CENTER</h1>
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section news-from-us">
    <div class="container">
        <div class="news-slider">
            <div class="header">
                <div class="title">NEWS FROM US</div>
            </div>
            <div class="swiper mySwiper-news">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="features-wrap" style="height: 15.8rem;">
                      <div class="feature-item" style="width: 100%;">
                          <div class="content">
                            <div class="date">07.12.2023</div>
                            <span>-</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                          </div>
                          <a href="javascript:();" class="card-link card-link-hover news-detail-open-modal">
                            <div class="icon">
                                <img src="/img/icon/right-arrow.svg" alt="">
                            </div>
                            <span>Read more</span>
                        </a>
                      </div>
                      <div class="vertical-line" style="margin-right: 6rem;"></div>
                      <div class="feature-item" style="width: 100%;">
                        <div class="content">
                            <div class="date">07.12.2023</div>
                            <span>-</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Led diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                          </div>
                          <a href="javascript:();" class="card-link card-link-hover">
                            <div class="icon">
                                <img src="/img/icon/right-arrow.svg" alt="">
                            </div>
                            <span>Read more</span>
                        </a>
                      </div>
                  </div>
                </div>
                  <div class="swiper-slide">
                      <div class="features-wrap" style="height: 15.8rem;">
                        <div class="feature-item" style="width: 100%;">
                            <div class="content">
                                <div class="date">07.12.2023</div>
                                <span>-</span>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </div>
                            <a href="javascript:();" class="card-link card-link-hover">
                                <div class="icon">
                                    <img src="/img/icon/right-arrow.svg" alt="">
                                </div>
                                <span>Read more</span>
                            </a>
                        </div>
                        <div class="vertical-line" style="margin-right: 6rem;"></div>
                        <div class="feature-item" style="width: 100%;">
                            <div class="content">
                                <div class="date">07.12.2023</div>
                                <span>-</span>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Led diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                          </div>
                          <a href="javascript:();" class="card-link card-link-hover">
                            <div class="icon">
                                <img src="/img/icon/right-arrow.svg" alt="">
                            </div>
                            <span>Read more</span>
                        </a>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="features-wrap" style="height: 15.8rem;">
                      <div class="feature-item" style="width: 100%;">
                          <div class="content">
                            <div class="date">07.12.2023</div>
                            <span>-</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                          </div>
                          <a href="javascript:();" class="card-link card-link-hover">
                            <div class="icon">
                                <img src="/img/icon/right-arrow.svg" alt="">
                            </div>
                            <span>Read more</span>
                        </a>
                      </div>
                      <div class="vertical-line" style="margin-right: 6rem;"></div>
                      <div class="feature-item" style="width: 100%;">
                        <div class="content">
                            <div class="date">07.12.2023</div>
                            <span>-</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Led diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                          </div>
                          <a href="javascript:();" class="card-link card-link-hover">
                            <div class="icon">
                                <img src="/img/icon/right-arrow.svg" alt="">
                            </div>
                            <span>Read more</span>
                        </a>
                      </div>
                  </div>
                </div>
                  <div class="swiper-slide">
                      <div class="features-wrap" style="height: 15.8rem;">
                        <div class="feature-item" style="width: 100%;">
                            <div class="content">
                                <div class="date">07.12.2023</div>
                                <span>-</span>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </div>
                            <a href="javascript:();" class="card-link card-link-hover">
                                <div class="icon">
                                    <img src="/img/icon/right-arrow.svg" alt="">
                                </div>
                                <span>Read more</span>
                            </a>
                        </div>
                        <div class="vertical-line" style="margin-right: 6rem;"></div>
                        <div class="feature-item" style="width: 100%;">
                            <div class="content">
                                <div class="date">07.12.2023</div>
                                <span>-</span>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Led diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                          </div>
                          <a href="javascript:();" class="card-link card-link-hover">
                            <div class="icon">
                                <img src="/img/icon/right-arrow.svg" alt="">
                            </div>
                            <span>Read more</span>
                        </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        <div class="slider-button">
            <div class="swiper-button-prev-news">
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5264 22L2.00005 12L12.5264 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
                </svg>  
            </div>
            <div class="swiper-button-next-news">   
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.47364 2L11.9999 12L1.47363 22" stroke="white" stroke-width="2" stroke-linecap="square"/>
                </svg>                                         
            </div>
        </div>
    </div>
    <div class="news-detail-block" id="modal1">
        <div class="container">
            <div class="news-detail-modal">
                <div class="header">
                    <div class="title">
                        NEWS FROM US
                    </div>
                </div>
                <div class="modal-content">
                    <div class="text">
                        <div class="date">07.12.2024</div>
                        <div class="title">overflow visible yapılacak ve sağ taraftaki resim fixed olacak aynı zamanda js kısmı da halledilecek.</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                    </div>
                    <div class="img">
                        <img src="/img/card-img/news-detail.png" alt="">
                    </div>
                </div>
                <button class="close-modal" id="close-news-detail">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.868 19.992C0.644 19.992 0.42 19.9041 0.252 19.7362C-0.084 19.4004 -0.084 18.8487 0.252 18.5049L18.516 0.251849C18.852 -0.0839496 19.404 -0.0839496 19.748 0.251849C20.084 0.587648 20.084 1.13932 19.748 1.48311L1.484 19.7362C1.316 19.9041 1.092 19.992 0.868 19.992Z" fill="black"/>
                            <path d="M19.124 19.9918C18.9 19.9918 18.676 19.9039 18.508 19.736L0.252 1.49092C-0.084 1.15512 -0.084 0.603455 0.252 0.259661C0.588 -0.0761371 1.14 -0.0761371 1.484 0.259661L19.748 18.5127C20.084 18.8485 20.084 19.4002 19.748 19.744C19.58 19.9119 19.356 19.9998 19.132 19.9998L19.124 19.9918Z" fill="black"/>
                        </svg>                        
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section newsletter">
    <div class="container">
        <div class="newsletter-block">
            <div class="header">
                <div class="title">JOIN OUR NEWSLETTER</div>
            </div>
            <div class="input-layout">
                <div class="input-group">
                    <label for="name">NAME</label>
                    <input type="text" id="name" placeholder="Your Name">
                </div>
                <div class="input-group">
                    <label for="surname">SURNAME</label>
                    <input type="text" id="surname" placeholder="Your Surname">
                </div>
                <div class="input-group">
                    <label for="mail">NAME</label>
                    <input type="mail" id="mail" placeholder="Your Email">
                </div>
                <a href="javascript:();" class="submit-button">
                    <button>SUBMIT</button>
                </a>
            </div>
            <div class="checkbox-group">
                <a href="javascipt:();" class="checkbox-item">
                    <input type="checkbox" id="gdpr">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="gdpr">I have read and agree to the GDPR</label>
                </a>
                <a href="javascript:();" class="checkbox-item">
                    <input type="checkbox" id="privacy">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="privacy">I have read and agree to the GDPR</label>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

 