{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div id="cookieModal" class="cookie-modal">
    <div class="cookie-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Çerez Politikası</h2>
      <p>
        Bu web sitesinde çerezler kullanılıyor! Detaylı bilgi için 
        <a href="#">Çerez Politikası</a> içeriğini okuyabilirsiniz.
      </p>
      <div class="cookie-buttons">
        <button class="accept-btn">Kabul et</button>
        <button class="reject-btn">Reddet</button>
      </div>
    </div>
</div>
<section class="section subpage-hero" id="design-hero">
    <div class="hero-section hero">
        <div class="hero-backg">
            <video autoplay muted loop >
                <source src="/img/video/design-hero.mp4" type="video/mp4">
              </video>
            <div class="text">
                <div class="header">
                    <h1 class="title">Details truly make difference in design.</h1>
                    <div class="opacity-title">
                        DESIGN
                    </div>
                </div>
          </div>
        </div>
        <div class="bottom-arrow">
            <div class="icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 1L11 11.7692L1 1" stroke="white" stroke-linecap="square"/>
                </svg>                    
            </div>
        </div>
    </div>
</section>
<div class="section breadcrumb">
    <div class="container">
        <nav>
            <ol>
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
              </span>
              <li class="breadcrumb-item active">
                <a href="#">Design</a>
              </li>
            </ol>
          </nav>
    </div>
</div>
<section class="section">
    <div class="design-block sub-page" id="product-development">
        <div class="container">
            <div class="design-card" style="height: 56.8rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">PRODUCT DEVELOPMENT</h1>
                    </div>
                    <div class="desc">
                        We are versatile and adapt to the needs of our clients briefs.<div class="strong">Every collection is unique for us.</div> We work closely with our partners, from concept  to completion, ensuring that every garment is a true expression of their vision. 
                    </div>
                    <div class="desc">
                        Our expertise of craftsmanship and creativity is where we distinguish our business from the crowd. Our <div class="strong">international design team</div> that are based in London & Istanbul, love to push boundaries and <div class="strong">deliver maximum</div> value as well as aiming to craft remarkable success combining creativity with technical precision and attention to detail.
                    </div>
                    <div class="desc">
                        This approach proudly leads us to achieve of a <div class="strong">95% of hit rate</div> level,<div class="strong">of our total orders</div> through our own collections. 
                    </div>
                </div>
                <div class="img">
                    <img src="/img/card-img/product-development.png" width="515" height="568" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="showroom sub-page" id="yarn-production">
        <div class="showroom-card">
            <div class="card-img">
                <div class="card-img-wrap">
                    <div class="column">
                        <img src="/img/card-img/sampling-column-1.png" alt="">
                        <img src="/img/card-img/sampling-column-2.png" alt="">
                    </div>
                    <img src="/img/card-img/sampling-card.png" alt="">
                </div>
            </div>
            <div class="text-card">
                <div class="header">
                    <h1 class="title">SAMPLING</h1>
                </div>
                <div class="desc">
                     We love to push boundaries in terms of transforming our clients stories into reality. Starting from the <div class="strong">development of style, yarn and pattern</div> in every phase we challenge ourselves to exceed the desired demand and <div class="strong">deliver</div> between <div class="strong">3-4 days.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="header-line">
        <div class="title">DESIGN HIGHLIGHTS</div>
    </div>
</section>
<section class="section">
    <div class="image-layout sub-page-design" id="img-layout">
        <div class="image">
            <img src="/img/card-img/design-img-wrap-1.png" alt="">
        </div>
        <div class="image">
            <img src="/img/card-img/design-img-wrap-2.png" alt="">
        </div>
        <div class="image column">
            <img src="/img/card-img/design-img-wrap-3.png" alt="">
            <img src="/img/card-img/design-img-wrap-4.png" alt="">
        </div>
    </div>
</section>
<section class="section">
    <div class="design-block sub-page" id="yarn-rd">
        <div class="container">
            <div class="design-card" style="height: 39.6rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">YARN R&D</h1>
                    </div>
                    <div class="desc">
                        Our in-house research&development department ensures to create <div class="strong">specific qualities tailored</div> to our clients needs.
                    </div>
                    <div class="desc">
                        Our experienced, passionate and dedicated r&d team makes a great contribution to the collective design work. By staying ahead of trends we empower to bring our clients boldest ideas  to life. 
                    </div>
                    <div class="desc">
                        We <div class="strong">redefine</div> the fibers essence, almost modifying its <div class="strong">DNA</div> and delivering the unexpected.
                    </div>
                </div>
                <div class="img">
                    <img src="/img/card-img/yarn-card.png" width="515" height="396" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="showroom sub-page" id="aı-generated">
        <div class="showroom-card">
            <div class="card-img">
                <img src="/img/card-img/aı-generated.png" alt="">
            </div>
            <div class="text-card">
                <div class="header">
                    <h1 class="title">AI GENERATED COLLECTION</h1>
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
                </div>
            </div>
        </div>
    </div>
</section>










<section class="section newsletter">
    <div class="container">
        <div class="newsletter-block">
            <div class="header">
                <div class="title">JOIN OUR NEWSLETTER</div>
            </div>
            <div class="input-layout">
                <div class="input-group">
                    <label for="name">NAME</label>
                    <input type="text" id="name" placeholder="Your Name">
                </div>
                <div class="input-group">
                    <label for="surname">SURNAME</label>
                    <input type="text" id="surname" placeholder="Your Surname">
                </div>
                <div class="input-group">
                    <label for="mail">NAME</label>
                    <input type="mail" id="mail" placeholder="Your Email">
                </div>
                <a href="javascript:();" class="submit-button">
                    <button>SUBMIT</button>
                </a>
            </div>
            <div class="checkbox-group">
                <a href="javascipt:();" class="checkbox-item">
                    <input type="checkbox" id="gdpr">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="gdpr">I have read and agree to the GDPR</label>
                </a>
                <a href="javascript:();" class="checkbox-item">
                    <input type="checkbox" id="privacy">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="privacy">I have read and agree to the GDPR</label>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

 