{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<section id="our-clients-section" class="section section-client section-bg-dark pt-half">
    <div class="container"><span class="heading-3 font-medium">Saygın Müşterilerimiz</span>
        <div class="swiper swiper-orkun">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/t-c-cumhurbaskanligi.png" width="87" height="69" loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/astra-zeneca.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/babylon.png" width="87" height="69" loading="lazy"
                            alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/beyoglu-bel.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/bursa-kultur-sanat-ve-turizm-vakfi.png" width="87"
                            height="69" loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/bursa-bel.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/cekmekoy-bel.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/darulaceze-baskanligi.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/downtown.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/fatih-bel-baskanligi.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/isuzu.png" width="87" height="69" loading="lazy"
                            alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/nev-carsi.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/osmangazi-bel.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/remax.png" width="87" height="69" loading="lazy"
                            alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/red-bull.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/sivas-bel.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/un-habitat.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/uskudar-bel.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/turkiye-tasarim-vakfi.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/vakifbank.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
                <div class="swiper-slide">
                    <div class="client-card"><img src="assets/img/brands/vodafone.png" width="87" height="69"
                            loading="lazy" alt="Image"></div>
                </div>
            </div>
        </div>
        <div class="btn-huge"><button class="btn-navigation btn-navigation-light prev"><img
                    data-src="assets/img/icon/slider-prev-white.svg" width="15" height="26" class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20768%20432%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E"
                    alt="Prev"></button> <button class="btn-navigation btn-navigation-light next"><img
                    data-src="assets/img/icon/slider-next-white.svg" width="15" height="26" class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20768%20432%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E"
                    alt="Next"></button></div>
    </div>
</section>
{% endblock %}

 