{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div id="cookieModal" class="cookie-modal">
    <div class="cookie-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Çerez Politikası</h2>
      <p>
        Bu web sitesinde çerezler kullanılıyor! Detaylı bilgi için 
        <a href="#">Çerez Politikası</a> içeriğini okuyabilirsiniz.
      </p>
      <div class="cookie-buttons">
        <button class="accept-btn">Kabul et</button>
        <button class="reject-btn">Reddet</button>
      </div>
    </div>
</div>
<section class="section subpage-hero" id="company-hero">
    <div class="hero-section hero">
        <div class="hero-backg">
            <video autoplay muted loop >
                <source src="/img/video/company-hero.mp4" type="video/mp4">
              </video>
            <div class="text">
                <div class="header">
                    <h1 class="title">Where Exellence Meets In Every Stitch</h1>
                    <div class="opacity-title">
                        PRODUCTION
                    </div>
                </div>
          </div>
        </div>
        <div class="bottom-arrow">
            <div class="icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 1L11 11.7692L1 1" stroke="white" stroke-linecap="square"/>
                </svg>                    
            </div>
        </div>
    </div>
</section>
<div class="section breadcrumb">
    <div class="container">
        <nav>
            <ol>
              <li class="breadcrumb-item">
                <a href="home.html">Home</a>
              </li>
              <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
              </span>
              <li class="breadcrumb-item active">
                <a href="#">Production</a>
              </li>
            </ol>
          </nav>
    </div>
</div>
<section class="section">
    <div class="design-block sub-page" id="knıtwear">
        <div class="container">
            <div class="design-card" style="height: 56.8rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">KNITWEAR PRODUCTION</h1>
                    </div>
                    <div class="desc">
                        At İntem, we take immense pride in our commitment to high-quality knitwear production. <div class="strong">Our philosophy revolves around complex craftsmanship, and excellence of quality.</div>
                    </div>
                    <div class="desc">
                        Quality control is an integral part of our production process. Each garment undergoes a series of <div class="strong">internal inspections</div>, from initial design to final production, <div class="strong">ensuring that every detail is perfect.</div>
                    </div>
                    <div class="desc">
                        With a continuous improvement, we actively adapt our processes to maintain our position as leader in the knitwear industry.
                    </div>
                    <div class="desc">
                        <div class="strong">
                            We operate in fully integrated facilities
                        </div>with a production capacity <div class="strong">exceeding 30K units per day,</div> enabling us to meet the fast respond to short lead time demands 6-8 weeks with our <div class="strong">skilled employees</div> who bring years of expertise to every piece consist of <div class="strong">over 800.</div>
                    </div>
                    <div class="desc">
                        We export our products mainly European market, establishing strong <div class="strong">partnership with renowned global fashion brands.</div>
                    </div>
                </div>
                <div class="img">
                    <img src="/img/card-img/knıtwear-card.png" width="515" height="568" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="showroom sub-page" id="yarn-production">
        <div class="showroom-card">
            <div class="card-img">
                <div class="card-img-wrap">
                    <div class="column">
                        <img src="/img/card-img/yarn-production-1.png" alt="">
                        <img src="/img/card-img/yarn-production-2.png" alt="">
                    </div>
                    <img src="/img/card-img/yarn-production-3.png" alt="">
                </div>
            </div>
            <div class="text-card">
                <div class="header">
                    <h1 class="title">YARN PRODUCTION</h1>
                </div>
                <div class="desc">
                    As pioneers in the fancy yarn industry, we develop <div class="strong">unique, high quality yarns</div> that inspires designers and <div class="strong">elevate fashionable products</div> to new heights. Our forward-thinking approach ensures that every yarn we produce is not only visually striking but also <div class="strong">functional, versatile and eco-friendly. Blending technology with sustainability practices</div>, we create distinctive textures, colors and effects that <div class="strong">transform ordinary yarn into fashionable materials.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="header-line">
        <div class="title">CERTIFICATES</div>
    </div>
</section>
<section class="section">
    <div class="certificates">
        <div class="container">
            <div class="certificate-groups">
                <div class="group-item">
                    <div class="header">
                        <div class="title">RAW MATERIAL MANAGEMENT</div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <img src="/img/logo/certificate-1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-3.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-4.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-4.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="header">
                        <div class="title">TRANSPARENCY & TRACEBILITY</div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <img src="/img/logo/certificate-6.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-7.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-8.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="header">
                        <div class="title">ENVIRONMENTAL MANAGEMENT</div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <img src="/img/logo/certificate-9.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-10.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="header">
                        <div class="title">CHEMICAL MANAGEMENT</div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <img src="/img/logo/certificate-11.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/logo/certificate-12.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section newsletter">
    <div class="container">
        <div class="newsletter-block">
            <div class="header">
                <div class="title">JOIN OUR NEWSLETTER</div>
            </div>
            <div class="input-layout">
                <div class="input-group">
                    <label for="name">NAME</label>
                    <input type="text" id="name" placeholder="Your Name">
                </div>
                <div class="input-group">
                    <label for="surname">SURNAME</label>
                    <input type="text" id="surname" placeholder="Your Surname">
                </div>
                <div class="input-group">
                    <label for="mail">NAME</label>
                    <input type="mail" id="mail" placeholder="Your Email">
                </div>
                <a href="javascript:();" class="submit-button">
                    <button>SUBMIT</button>
                </a>
            </div>
            <div class="checkbox-group">
                <a href="javascipt:();" class="checkbox-item">
                    <input type="checkbox" id="gdpr">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="gdpr">I have read and agree to the GDPR</label>
                </a>
                <a href="javascript:();" class="checkbox-item">
                    <input type="checkbox" id="privacy">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="privacy">I have read and agree to the GDPR</label>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

 