{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div id="cookieModal" class="cookie-modal">
    <div class="cookie-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Çerez Politikası</h2>
      <p>
        Bu web sitesinde çerezler kullanılıyor! Detaylı bilgi için 
        <a href="#">Çerez Politikası</a> içeriğini okuyabilirsiniz.
      </p>
      <div class="cookie-buttons">
        <button class="accept-btn">Kabul et</button>
        <button class="reject-btn">Reddet</button>
      </div>
    </div>
</div>
<section class="section subpage-hero" id="sustainability-hero">
    <div class="hero-section hero">
        <div class="hero-backg">
            <video autoplay muted loop >
                <source src="/img/video/sustainability-hero.mp4" type="video/mp4">
              </video>
            <div class="text">
                <div class="header">
                    <h1 class="title">Sustainability slogan alanı.</h1>
                    <div class="opacity-title">
                        SUSTAINABILITY
                    </div>
                </div>
          </div>
        </div>
        <div class="bottom-arrow">
            <div class="icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 1L11 11.7692L1 1" stroke="white" stroke-linecap="square"/>
                </svg>                    
            </div>
        </div>
    </div>
</section>
<section class="section breadcrumb" style="background-color: rgb(244, 241, 238,.5);">
    <div class="container">
        <nav>
            <ol>
              <li class="breadcrumb-item">
                <a href="home.html">Home</a>
              </li>
              <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
              </span>
              <li class="breadcrumb-item active">
                <a href="#">Sustainability</a>
              </li>
            </ol>
          </nav>
    </div>
</section>
<section class="section">
    <div class="text-block">
        <div class="alt-container">
            <div class="header">
                <div class="title">SUSTAINABILITY APPROACH</div>
            </div>
            <div class="content">
                <div class="content-item">
                    A sincere interest in innovative and sustainable design&production extends to every aspect of our workings.
                </div>
                <div class="content-item">
                    Our approach to sustainability aims to <div class="strong">reduce environmental impact</div> and increase our commitments, starting with the issues of greatest importance to our clients and our world. In short the intention is to <div class="strong">give back more than we take.</div>
                </div>
                <div class="content-item">
                    This considerate approach ensures innovating conscious design, environmentally responsible processes, new technologies, safe working conditions, treat our workers with dignity and respect. We are committed to reflect these values. Constant improvement of our practices are the key to our efforts to continue to be more respectful to the environment while maintaining ethical and <div class="strong">sustainable production of the highest standart.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="who-we-are">
        <div class="alt-container">
            <div class="header">
                <div class="title">OUR COMMITMENT TO BECOME A BETTER COMPANY NEVER ENDS</div>
                <div class="sub-title">We systematically work on our sustainability goals to reduce our environmental footprint. In 2025 we commit to publishing our report on our media.</div>
            </div>
            <div class="who-we-are-cards">
                <div class="card-item">
                    <div class="img">
                        <img src="/img/card-img/who-we-are.png" alt="">
                    </div>
                    <div class="text">
                        <div class="desc">
                            We have installed <div class="strong">8,532 solar panels.</div> This generates 5,580,920 kWh annually and minimizes our impact on the environment.
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img">
                        <img src="/img/card-img/who-we-are-1.png" alt="">
                    </div>
                    <div class="text">
                        <div class="desc">
                            We are proud to maintain <div class="strong">68</div>% of our employees <div class="strong">women</div>, reflecting our commitment for gender equality is fundamental.
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img">
                        <img src="/img/card-img/who-we-are-2.png" alt="">
                    </div>
                    <div class="text">
                        <div class="desc">
                            By investing in advanced <div class="strong">water</div> treatment technology, we are able to <div class="strong">reuse and recycle</div> the the water consumption in our manufacturing processes.
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img">
                        <img src="/img/card-img/who-we-are-3.png" alt="">
                    </div>
                    <div class="text">
                        <div class="desc">
                            Lorem ipsum...
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img">
                        <img src="/img/card-img/who-we-are-4.png" alt="">
                    </div>
                    <div class="text">
                        <div class="desc">
                            Investing in <div class="strong">new technologies</div> within our business and founding our own <div class="strong">Research and Development Center</div> by the end of 2024 will create more value and innovation in the industry.
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:();" class="card-link card-link-hover">
                <div class="icon">
                    <img src="/img/icon/right-arrow.svg" alt="">
                </div>
                <span>Latest Sustainability Report</span>
            </a>
        </div>
    </div>
</section>
<section class="section newsletter">
    <div class="container">
        <div class="newsletter-block">
            <div class="header">
                <div class="title">JOIN OUR NEWSLETTER</div>
            </div>
            <div class="input-layout">
                <div class="input-group">
                    <label for="name">NAME</label>
                    <input type="text" id="name" placeholder="Your Name">
                </div>
                <div class="input-group">
                    <label for="surname">SURNAME</label>
                    <input type="text" id="surname" placeholder="Your Surname">
                </div>
                <div class="input-group">
                    <label for="mail">NAME</label>
                    <input type="mail" id="mail" placeholder="Your Email">
                </div>
                <a href="javascript:();" class="submit-button">
                    <button>SUBMIT</button>
                </a>
            </div>
            <div class="checkbox-group">
                <a href="javascipt:();" class="checkbox-item">
                    <input type="checkbox" id="gdpr">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="gdpr">I have read and agree to the GDPR</label>
                </a>
                <a href="javascript:();" class="checkbox-item">
                    <input type="checkbox" id="privacy">
                    <div class="box">
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                        </svg>                            
                    </div>
                    <label for="privacy">I have read and agree to the GDPR</label>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

 