#header {
	display: block;
	width: 100%;
	border-bottom: var(--border);
	// height: 10rem;
	// background-color: var(--color-secondary);
	// background-color: $color-blue;
 
	@include md {
	  
	}
	
	@include bigger-than-md {
	   
	}
	
	 
	
}
 